body {
    color: #fff;
    background-color: #555;
    font-family: 'PT Serif', serif;
}

a {
color: #00FFFF
}

a:hover {
    color: #fff;
}

.logo {
    margin: 10px 30px;
    font-size: 5em;
    line-height: 110%;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

.subhead {
    margin: 0 30px;
    font-size: 2em;
    text-align: center;
    line-height: 120%;
}


.genre-selector {
    text-align: right;
    margin: 30px 0;
}


form {
    display: block;
}

.accountform {
    width: 100%;
}

h3 {
    font-size: 1.2em;
}



main {
    padding: 30px;
}

.teaser {
    padding-right: 50px;
    margin-bottom: 50px;
}

.truncate {
   line-height: 1.5em;
  height: 15em; 
  overflow: hidden;
  white-space: pre-wrap;
}

.description, .genre, .price {
    font-family: 'Roboto', sans-serif;
    color: #ddd;
    font-weight: 500;
    padding-left: 10px;
    margin: 10px 0;
}

.description {
    border-left: 8px solid #aaa;
}

.genre {
    border-left: 8px solid #999;
}

.price{
    border-left: 8px solid #888
}

.excerpt {
    margin: 50px 0 20px 0;
    white-space: pre-wrap;
}

.comment {
   margin-top: 20px;
}

@media screen and (min-width: 600px) {
    
    .navbar-brand {
        display: none;
    }
    
    main {
    padding: 30px 70px;
}

    .logo {
    font-size: 7em;
}

form {
    display: inline-block;
}
    
    .subhead {
        line-height: 200%
    }
}
